{template '_header'}

<style>

    .style i{

        vertical-align: middle;

    }
    .input-group-select{
        left:0;top:0;
    }
    .btn-success{
        margin-top: 0;
    }
</style>

<div class="page-header"><img src="../addons/ewei_shopv2/static/images/font_31.png">当前位置：<span class="text-primary">提现申请记录</span></div>

<div class="page-content">

    <form action="./index.php" method="get" class="form-horizontal table-search" role="form" id="form1">

        <input type="hidden" name="c" value="site" />

        <input type="hidden" name="a" value="entry" />

        <input type="hidden" name="m" value="ewei_shopv2" />

        <input type="hidden" name="do" value="web" />

        <input type="hidden" name="r" value="finance.log.recharge" />

        <div class="page-toolbar">

            <!-- <span class="pull-left">

                    {php echo tpl_daterange('time', array('sm'=>true,'placeholder'=>'申请时间'),true);}

                </span> -->

            <!-- <div class="input-group">

                <span class="input-group-select">

                    <select name="status" class="form-control"   style="width:100px;"  >

                        <option value="" {if $_GPC['status']==''}selected{/if}>状态</option>

                            <option value="1" {if $_GPC['status']=='1'}selected{/if}>完成</option>

                            <option value="0" {if $_GPC['status']=='0'}selected{/if}>申请中</option>

                            <option value="2" {if $_GPC['status']=='2'}selected{/if}>失败</option>

                    </select>

                </span>

                <!-- <span class="input-group-select">

                    <select name="groupid" class="form-control" style="width:100px;"  >

                        <option value="">会员分组</option>

                        {loop $groups $group}

                        <option value="{$group['id']}" {if $_GPC['groupid']==$group['id']}selected{/if}>{$group['groupname']}</option>

                        {/loop}

                    </select>

                </span> -->

                <!-- <span class="input-group-select">

                    <select name="level" class="form-control" style="width:100px;"  >

                        <option value="">会员等级</option>

                        {loop $levels $level}

                        <option value="{$level['id']}" {if $_GPC['level']==$level['id']}selected{/if}>{$level['levelname']}</option>

                        {/loop}

                    </select>

                </span> -->

                <!-- <span class="input-group-select">

                    {if $_GPC['type']==0}

                    <select name="rechargetype" class="form-control" style="width:100px;"  >

                        <option value='' {if $_GPC['rechargetype']==''}selected{/if}>充值方式</option>

                        <option value='wechat' {if $_GPC['rechargetype']=='wechat'}selected{/if}>微信</option>

                        <option value='alipay' {if $_GPC['rechargetype']=='alipay'}selected{/if}>支付宝</option>

                        <option value='system' {if $_GPC['rechargetype']=='system'}selected{/if}>后台</option>

                        <option value='system1' {if $_GPC['rechargetype']=='system1'}selected{/if}>后台扣款</option>

                        {if p('ccard')}<option value='ccard' {if $_GPC['rechargetype']=='ccard'}selected{/if}>充值卡返佣</option>{/if}

                    </select>

                    {/if}

                </span>

                <span class="input-group-select">

                    <select name="searchfield"  class="form-control"   style="width:120px;"  >

                        <option value="logno" {if $_GPC['searchfield']=='logno'}selected{/if}>提现单号</option>

                        <option value="member" {if $_GPC['searchfield']=='member'}selected{/if}>会员信息</option>

                    </select>

                </span>

                <input type="text" class="form-control"  name="keyword" value="{$_GPC['keyword']}" placeholder="请输入关键词" />

                <span class="input-group-btn">

                    <button class="btn  btn-primary" type="submit"> 搜索</button>

                    {ifp 'finance.log.recharge.export'}

                        <!-- <button type="submit" name="export" value="1" class="btn btn-success ">导出</button>

                    {/if}

                </span>

            </div> -->

        </div>

    </form>

    {if empty($list)}

    <div class="panel panel-default">

        <div class="panel-body empty-data">未查询到相关数据</div>

    </div>

    {else}

    <div class="row">

        <div class="col-md-12">

            <table class="table">

                <thead>

                <tr>

                    <th style='width:200px;'>申诉单号</th>

                    <th>申诉人</th>

                    <th>被申诉人</th>

                    <th>申诉订单号</th>

                    <th style='width:150px;'>申诉时间</th>

                    <!-- <th style='width:150px;text-align: center;'>申诉金额</th> -->

                    <!-- <th style='width:150px;text-align: center;'>支付凭证</th> -->

                    <th style='width:150px;text-align: center;'>状态</th>

                    <th style="text-align: center;">操作</th>
                    <th></th>

                </tr>

                </thead>

                <tbody>

                {loop $list $row}

                <tr>
                    <td>{if !empty($row['id'])}

                        {$row['id']}

                        {else}

                        {$row['id']}

                        {/if}

                    </td>
                    <td>{$row['m2mobile']}</td>
                    <td>{$row['m1mobile']}</td>
                    <td>{$row['order_id']}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <!-- <td>{$row['money']}</td> -->

                    <!-- <td data-toggle='tooltip' title='{$row['nickname']}'> -->

                    <!-- <td style="text-align: center;" class="style">

                        <a href="{$row['file']}">
                            <img src="{$row['file']}" style="width:100px;hight:100px;">
                        </a>
                    </td> -->

                    <td style="text-align: center;">



                        {if $row['stuas']==0}

                        <span class='text-default'>申请中</span>

                        {else if $row['stuas']==1}

                        <span class='text-success'>申诉成功</span>

                        {else if $row['stuas']==2}

                        <span class='text-default'>申诉失败</span>

                        {else if $row['stuas']==3}

                        <span class='text-danger'>申诉无效</span>

                        {/if}

                    </td>

                    <td style="text-align: center;">
                            <a  class='btn btn-op btn-primary' href="{php echo webUrl('sale/appeal_list',array('id' => $row['id']));}">
                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="查看详情">
                                        查看详情
                                </span>
                            </a>
                         <!-- {if $row['stuas']==0}
                          <a  class='btn btn-op btn-primary' data-toggle='ajaxPost' data-confirm="确认同意申诉申请?" href="{php echo webUrl('sale/appeal_list',array('id' => $row['id'],'type'=>1));}">
                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="同意">
                                        同意
                                </span>
                            </a>
                             <a  class='btn btn-op btn-primary' data-toggle='ajaxPost' data-confirm="确认拒绝申诉申请?" href="{php echo webUrl('sale/appeal_list',array('id' => $row['id'],'type'=>-1));}">

                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="拒绝">

                                        拒绝

                                </span>

                            </a>
                        {else if $row['stuas']==1}
                            已同意
                        {else}
                            已拒绝
                        {/if} -->

                    </td>
                    <td></td>

                </tr>
                {/loop}

                </tbody>

                <tfoot>

                <tr>

                    </td>

                    <td colspan="8" style="text-align: right">

                        {$pager}

                    </td>

                </tr>

                </tfoot>

            </table>

        </div>

    </div>

    {/if}



</div>

{template '_footer'}

<!--NDAwMDA5NzgyNw==-->
