
.fui-page.fui-page-current, .fui-page-group.fui-page-current{
    overflow-y: scroll;
    margin-bottom: 2.4rem;
}

body{

  margin: 0;

  padding: 0;

}



a{

  text-decoration: none;

  color: #000;

}



ul{

  margin: 0;

  padding: 0;

  list-style: none;

}



input{

  outline: none;

}



@media only screen and (width: 320px) {

  html {

    font-size: 16px;

  }

}



@media only screen and (width: 360px) {

  html {

    font-size: 18px;

  }

}



@media only screen and (width: 375px) {

  html {

    font-size: 18.75px;

  }

}



@media only screen and (width: 400px) {

  html {

    font-size: 20px;

  }

}



@media only screen and (width: 411px) {

  html {

    font-size: 20.55px;

  }

}



@media only screen and (width: 414px) {

  html {

    font-size: 20.7px;

  }

}



@media only screen and (min-width: 640px) {

  html {

    font-size: 32px;

  }

}



@media only screen and (min-width: 768px) {

  html {

    font-size: 38.4px;

  }

}



@media (min-width: 1024px) {

  html {

    font-size: 51.2px;

  }

}



