<meta name="format-detection" content="telephone=no">
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" type="text/css" href="../addons/wxlm_statistics/template/mobile/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../addons/wxlm_statistics/template/mobile/css/style.css">
<link rel="stylesheet" type="text/css" href="../addons/wxlm_statistics/template/mobile/css/font-awesome.min.css">
{php echo register_jssdk(false);} 
<script src="../addons/wxlm_statistics/template/mobile/js/jquery-1.11.1.min.js"></script>
<script src="../addons/wxlm_statistics/template/mobile/js/bootstrap.min.js"></script>
